body {
    background-image: url('/background.jpg');
    background-repeat: repeat-y;
    background-size: 100% 100vh;
    object-fit: contain;
    height: 100vh;
}

.conteiner {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    position: relative;
    width: 1fr;
    height: 100vh;
}

